---
import Logo from "./Logo.astro";
import Themetoggle from "./Themetoggle.astro";
---

<header>
  <div class="fb">
    <Logo class="w-md" />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">ChatGPT-</span>
    <span class="gpt-subtitle">蛋智</span>
  </div>
  <div class="font-bold border-separate b-3 rd">
    <div>
      ⚠️
      OpenAI的API key于3月31日需要账号密码验证，窝买的额度已经用光了~后续更新再说吧
    </div>
    <div>
      ⚠️
      OpenAI的API key于3月31日需要账号密码验证，窝买的额度已经用光了~后续更新再说吧
    </div>
    <div>
      ⚠️
      OpenAI的API key于3月31日需要账号密码验证，窝买的额度已经用光了~后续更新再说吧
    </div>
  </div>
</header>
